 @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@200;300&family=Ysabeau+SC:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
body{
    background-image: url(../source/fondo.jpg);
}
header{
    width: 100%;
}
.navegacion{
    width: 1300px;
    margin: 30px auto;
    background-color: dimgray;
    justify-content:center;
}
.navegacion ul{
    list-style: none;
    text-align: center;
}
.menu > li{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.menu > li > a {
    padding: 20px 30px;
    color: black;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 20px;
    margin: 25px 0px 20px 0px
} 
.menu li a:hover{
    background-color:rgb(177, 177, 174);
    border-radius:10px;
    transition: 1s;
}
.submenu{
    visibility: hidden;
    transition: opacity 1s;
    opacity: 0;
    position: absolute;
    display:block;
    background-color: dimgray;
    width: 120%;
}
.submenu li a {
    display: block;
    padding: 15px;
    background-color: dimgray;
    color: black;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(177, 177, 174);
    margin: 20px 0;
    font-family: 'Lexend Peta', sans-serif;
}
.menu img {
    width: 110px;
    height: 100px;
    margin-top: -20px;
    position: relative;
    top: 13px;
  }
.wrapper{
    margin: auto;
    width: 90vw;
    min-height: 100vh;
    min-width: 190vh;
    background-color: rgb(100, 100, 100);
    text-align: center;
}

.titulo{
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 15px;
    font-family: 'Lexend Peta', sans-serif;
}

.card{
    width: 30%; 
    margin: 25px;
    display: inline-block;
}

.card-image{
    width: 100%;
    border-radius: 25px;
    transition: transform 0.6s ease;
    margin: 20px;
    display: inline-block;
}
.card-image:hover{
    transform: translateY(-15px);
}

.card-textA{
    margin-top: 10px;
    color: black;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
    position: absolute;
    left: 100px;
    bottom: -20px;
    font-size: 20px;
}
.card-textQ{
    margin-top: 10px;
    color: black;
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
    position: absolute;
    right: 970px;
    bottom: -20px;
    font-size: 20px;
}

#myImage {
    width: 200px;
    height: 200px;
  }
  
